<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">



<body>
	<div class="row"
		style="border-bottom: #006B0A 1px solid; background-color: #006B0A;">

		<div class="col-md-10"></div>
		<div class="col-md-2">
			<p:graphicImage library="img" name="barra-brasil-v3-verde2.gif" />
			<a class="brasilgov" href="http://www.brasil.gov.br"> </a>
		</div>
	</div>
	<div
		style="border-bottom: #006B0A 1px solid; background-color: #006B0A;">

	</div>

</body>
</html>
