<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui">
<!-- http://www.petefreitag.com/cheatsheets/jqueryui-icons/ -->
<f:loadBundle basename="messages" var="msg" />

<f:view locale="pt_BR" http-equiv="content-type"
	content="text/html; charset=UTF-8">

	<h:head>
		<title>.: <h:outputText value="#{msg['titulo.sistema']}" /> -
			<ui:insert name="pageTitle">
				<h:outputText value="#{msg['title.page.generico']}" />
			</ui:insert> :.
		</title>
		<meta name="description" content="#{msg['meta.description']}" />
		<meta name="viewport" content="width=device-width" />
		<h:outputStylesheet library="css" name="default.css" />


		<link rel="shortcut icon" type="image/x-icon"
			href="#{facesContext.externalContext.requestContextPath}/resources/img/ico.jpg" />

		<!-- bootstrap 3.3.1 -->
		<h:outputStylesheet library="bootstrap-3.3.1-dist/css"
			name="bootstrap.min.css" />

		<h:outputScript library="bootstrap-3.3.1-dist/js"
			name="bootstrap.min.js" />

		<h:outputScript name="locale-primefaces.js" library="js" />
	</h:head>


	<h:body>
		
		<div class="container">

			<div class="cabecalho"
				style="padding-top: 50px; padding-bottom: 10px;">
				<div class="row">
					<div class="col-md-4">
						<p:graphicImage library="img" name="application/gov_ce.jpg" width="300px"/>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<p:outputLabel value="TESTE JAVA" style="font-size: 60px;"></p:outputLabel>
					</div>
				</div>
			</div>
			<ui:include src="/templates/menu.xhtml" />

			<!--  <h:form id="formGeral">-->

			<div id="conteudo">


				<h1>
					<ui:insert name="tituloDaPagina">Título da página</ui:insert>
				</h1>
				<hr />
				<ui:insert name="conteudo">Conteúdo</ui:insert>


			</div>
		</div>



		<div align="center" style="padding-top: 10px; padding-bottom: 10px;">
			<ui:include src="/templates/rodape.xhtml" />
		</div>
		
		<ui:include src="/templates/load_tela.xhtml" />

	</h:body>
</f:view>
</html>