@CHARSET "UTF-8";

.campoForm {
	padding-right: 45px ;
	padding-bottom: 45px ;
	margin-right: 30px !important;
	margin-bottom: 10px !important;
}

.btns {
	margin-top: 28px;
	padding: 18px;
	margin-right: auto;
}


.btns tr:FIRST-CHILD {
	float: right;
}

.btns td {
	padding-left: 10px;
}

.selectRadio label {
	margin-right: 28px;
}

div.ui-messages .ui-messages-error *, div.ui-messages .ui-messages-warn *,
	div.ui-messages .ui-messages-fatal * {
	font-size: 11px;
}

.rodape {
	padding-top: 10px;
	margin-top: 50px;
	background-color: #459e00;
	color: white;
}

/**Nova barra brasil*/
#barra-brasil-v3 {
	background: none repeat scroll 0 0 #00500F;
	/*border-bottom: #FFB400 1px solid;*/
	clear: both;
	height: 28px;
	min-width: 1000px;
	overflow: hidden;
	position: relative;
}

#barra-brasil-v3 #span {
	border-bottom: #006B0A 1px solid;
	display: block;
	height: 26px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Borda amarela */
#barra-brasil-v3 #borda_esquerda {
	border-bottom: #FFB400 1px solid;
	height: 27px;
	width: 60%;
	float: left;
}

#barra-brasil-v3 #borda_direita {
	border-bottom: #FFB400 1px solid;
	height: 27px;
	width: 960px;
	top: 0;
	position: absolute;
}
/* FIM DE Borda amarela */
#barra-brasil-v3 #span .imagemGov {
	border-bottom: #006B0A 1px solid;
	background: url("#{resource['img/barra-brasil-v3-verde2.gif']}")
		no-repeat scroll right bottom transparent;
	height: 28px;
	width: 966px;
	text-decoration: none;
}

#barra-brasil-v3 #span .brasilgov {
	border: 0 none !important;
	display: block;
	float: right;
	height: 24px;
	width: 100px;
	text-decoration: none;
}

/* Calendar */
.col span input[type="text"].hasDatepicker, .col span.calendar input[type="text"]
	{
	width: 86px;
}

.col button.ui-datepicker-trigger {
	width: 20px;
	height: 23px;
	float: left;
	background: url("#{resource['img/icons/calendario-22-22.png']}")
		transparent !important;
	border: 0px solid;
	overflow: hidden;
	margin: 2px 0px 0 4px;
}

.col button.ui-datepicker-trigger span {
	width: 20px;
	height: 23px;
}
/* Fim de NOVA BARRA DO MEC */
/*==========================================*/

/*Geral
============================================*/

/**
Personalizar botão de camlendário
*/
button.ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
	{
	width: 20px;
	height: 23px;
	background: url("#{resource['img/icons/calendario-22-22.png']}")
		transparent !important;
	border: 0px solid;
	overflow: hidden;
	margin: 2px 0px 0 4px;
}

button.btn_pesquisar{
	background-color: #459e00 !important;
	background-image: none !important;
}

button.btn_limpar{
	background-color: gray !important;
	background-image: none !important;
}

button.btn_novo{
	background-color: orange !important;
	background-image: none !important;
}

button.btn_sair{
	background-color: maroon !important;
	background-image: none !important;
}

button.btn_salvar{
	background-color: blue !important;
	background-image: none !important;
}

button.btn_voltar{
	background-color: black !important;
	background-image: none !important;
}

button.btn_sim{
	background-color: blue !important;
	background-image: none !important;
}

button.btn_nao{
	background-color: black !important;
	background-image: none !important;
}


span.ui-button-icon-left.ui-icon ui-icon-calendar {
	width: 20px;
	height: 23px;
	background: url("#{resource['img/icons/calendario-22-22.png']}")
		transparent !important;
	border: 0px solid;
	overflow: hidden;
	margin: 2px 0px 0 4px;
}

.ui-icon-calendar {
	width: 20px;
	height: 23px;
	background: url("#{resource['img/icons/calendario-22-22.png']}")
		transparent !important;
	border: 0px solid;
	overflow: hidden;
	margin: 2px 0px 0 4px;
}
<!--
--> /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */