
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">#{msg['menu.inicio']}</ui:define>
	<ui:define name="tituloDaPagina">
		<h:panelGroup id="tituloForm">

		</h:panelGroup>
	</ui:define>
	<ui:define name="conteudo">

		<h:form id="calculadora">
			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<div style="padding-bottom: 200px;">
				<p:fieldset>

					<p:fileUpload label="#{msg['bt.selecionar']}"
						widgetVar="upload_lote_arquivo" invalidFileMessage="Tipo inválido"
						cancelLabel="#{msg['bt.cancelar']}" 
						uploadLabel="#{msg['bt.processar.arquivo']}"
						fileLimitMessage="#{msg['MN017']}" id="file-upload"
						fileUploadListener="#{calculadoraMB.handleFileUpload}"
						dragDropSupport="false" update="@all" sizeLimit="100000"
						fileLimit="1" allowTypes="/(\.|\/)(txt|TXT)$/" />

					<!-- Botão invisível que será acionado do Maneged Bean para realizar o download do resultado -->
					<p:commandLink value="Download Resultado" ajax="false"
						id="downloadResultado" update="@form" style="display: none;">
						<p:fileDownload value="#{calculadoraMB.fileDownload}" />
					</p:commandLink>
				</p:fieldset>
			</div>

		</h:form>



	</ui:define>

</ui:composition>
</html>