
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">#{msg['menu.inicio']}</ui:define>
	<ui:define name="tituloDaPagina">
		<h:panelGroup id="tituloForm">

		</h:panelGroup>
	</ui:define>
	<ui:define name="conteudo">

		<h:form>
			<p:messages></p:messages>
			<div style="padding-bottom: 200px;">
				<p:fieldset>
					<h:panelGrid columns="1">
						<h:outputLabel value="Olá #{loginMB.usuario.nome}!"></h:outputLabel>
						<p:outputLabel value="#{msg['home.lable.atencao']}"
							style="color:red;"></p:outputLabel>
						<p:outputLabel
							value="Breve Descrição sobre como foram solucionados os problemas:"></p:outputLabel>
						<p:outputLabel value="Geral:"></p:outputLabel>
						<h:outputText
							value="

 Foram apresentados dois problemas e dois sistemas diferentes. Questão 1 uma calculadora que calcula os resultados na base20 a partir da entrada de um arquivo.txt com representações gráficas de cada número e um sistema de login e cadastro de usuário.
Solução: Decidi criar um único sistema web com as duas funcionalidades mandando uma arquitetura base utilizando as tecnologias:
JSF (Primefaces), JPA (Hibernate), Maven,  filtros, banco de dados postgres e servidor de aplicação apache tomcat8.
 "></h:outputText>
						<p:outputLabel
							value="
1.	Sistema de Administração de Usuários e login: "></p:outputLabel>
						<h:outputText
							value=" - Controle de acesso: 
Para controle de acesso utilizei filtro para java web configurado na Classe:
br.gov.teste.pratico.filtro.AutorizacaoFilter
- Criptografia MD5:
O sistema criptografa em MD5 a senha ao salvar um novo usuário, ao alterar a senha e ao fazer o login no sistema.
- Login do sistema:
O login do sistema é feito através de pesquisa em banco de dados através ao usuário informar o login e senha do sistema.
Obs: Para o super usuário Login: “admin” e senha: “admin” foi setado diretamente no código pois esses valores são imutáveis e estão descritos nas instruções.
- Usuário:
Cadastro: no cadastro de um novo usuário todos os campos são obrigatórios e ele deve informar um login e cfp diferente de um já cadastrado no sistema para outro usuário (ativo ou inativo). Pois essa são informações únicas de cada usuário e um usuário pode ser reativado já que é um exclusão lógica. 
Edição: O usuário poderá alterar os dados da tela de cadastro e poderá , através de um link extra, alterar a senha de cada usuário. Foi aproveitada a mesma tela de cadastro fazendo a distinção se é cadastro ou alteração através de uma flag. 
Inativação:
O usuário será inativado por exclusão lógica. É utilizado uma flag informando para informar se o usuário está ativo ou não.
- Padronização de mensagem "></h:outputText>
						<p:outputLabel value="2.	Calculadora:"></p:outputLabel>
						<h:outputText
							value="
Utilize uma funcionalidade do primefacefaces para ler o arquivo do lado do cliente e a nível de java o sistema quarda todas as linhas do arquivo em um ArrayList de String. 
Capturadas as linhas criei uma classe br.gov.teste.pratico.util.CalculadoraUtil que possui métodos para a manipulação da linha.
Guardei primeiramente as posições necessárias: H, L,a operação e número de linhas de s1 e s2. 
A partir desse marcos separei as imagens em um array de String de 20 posições e os valores decimais de s1 e s2. 
Depois foi necessário realizar as operações e fazer as conversões dos números de uma base para a outra e a decodificação e condificação das imagens no arquivo. 
"></h:outputText>

					</h:panelGrid>


				</p:fieldset>
			</div>

		</h:form>



	</ui:define>

</ui:composition>
</html>