<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">


	<ui:define name="conteudo">
		<h:form>
			
			Principal
		
		</h:form>
	</ui:define>


</ui:composition>

</html>