<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{facesContext.externalContext.requestContextPath}/resources/img/ico.jpg" />
	<h:outputStylesheet library="css" name="default.css" />


	<link rel="shortcut icon" type="image/x-icon"
		href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon_ifce.ico" />

	<!-- bootstrap 3.3.1 -->
	<h:outputStylesheet library="bootstrap-3.3.1-dist/css"
		name="bootstrap.min.css" />
		
		

	<h:outputScript library="bootstrap-3.3.1-dist/js"
		name="bootstrap.min.js" />
	<title>.: Teste Prático - Login :.</title>
	<h:outputStylesheet library="css" name="login.css" />
</h:head>
<h:body>


	<h:form id="frm">
		<div class="row">
			<div class="col-md-4">
				<p:graphicImage library="img" name="application/gov_ce.jpg"
					width="300px" />
			</div>
			<div class="col-md-4" align="center" 
				style="padding-top: 50px; padding-bottom: 10px;">
				
				<h:panelGrid columns="1" style="text-align: center">
					<p:outputLabel value="#{msg['sistema.titulo']}"></p:outputLabel>
					<p:outputLabel value="#{msg['sistema.versao']}" style="color:grey" />
				</h:panelGrid>
				<div style="width: 300px;">
				<p:fieldset>
					<p:messages autoUpdate="true" />
					<h:panelGrid columns="1">

						<h:panelGrid columns="1">
							<p:outputLabel value="#{msg['usuario.lable.login']}" for="login" style="font-size: 18px;" />
							<p:inputText id="login" size="20"
								value="#{loginMB.login}" maxlength="15"
								style="font-size: 18px;" />
							
						</h:panelGrid>

						<h:panelGrid columns="1">
							<p:outputLabel value="#{msg['usuario.lable.senha']}" for="senha" style="font-size: 18px;" />
							<p:password id="senha" size="20"
								value="#{loginMB.senha}" style="font-size: 18px;" />
						</h:panelGrid>
						<p:outputLabel />

					</h:panelGrid>
					<h:panelGrid columns="1">
						
							<p:commandButton value="Entrar"
								action="#{loginMB.logar()}" />
						
					</h:panelGrid>
				</p:fieldset>
				</div>
			</div>

			<div class="col-md-4">
				<p:outputLabel value="TESTE PRÁTICO A-IV" style="font-size: 60px;"></p:outputLabel>
			</div>
		</div>


	</h:form>

	<div align="center" style="padding-top: 200px; padding-bottom: 10px;">
		<ui:include src="/templates/rodape.xhtml" />
	</div>
	<ui:include src="/templates/load_tela.xhtml" />
</h:body>
</html>