<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">#{msg['usuario.formulario']}</ui:define>
	<ui:define name="tituloDaPagina">
		<h:panelGroup id="tituloForm">
			<h:outputText value="#{msg['usuario.formulario']}" />
		</h:panelGroup>
	</ui:define>
	<ui:define name="conteudo">

		<h:form>

			<h:panelGrid columns="1">
				<h:outputLabel value="Olá #{loginMB.usuario.nome}!"></h:outputLabel>

			</h:panelGrid>

			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<p:fieldset>
				<h:panelGrid columns="1" cellpadding="10">
					<h:panelGrid columns="1" styleClass="campoForm">
						<p:outputLabel for="nome" value="#{msg['usuario.lable.nome']}" />
						<p:inputText id="nome" size="50" required="true"
							value="#{usuarioMB.usuario.nome}"></p:inputText>
					</h:panelGrid>
				</h:panelGrid>
				
					<h:panelGrid columns="1" styleClass="campoForm">
						<p:outputLabel for="cpf" value="#{msg['usuario.lable.cpf']}" />
						<p:inputMask mask="999.999.999-99" id="cpf" size="25"
							required="true" value="#{usuarioMB.usuario.cpf}">
						</p:inputMask>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:outputLabel for="login" value="#{msg['usuario.lable.login']}" />
						<p:inputText id="login" required="true" maxlength="15"
							value="#{usuarioMB.usuario.login}">
							<p:ajax event="change" process="@this"
								listener="#{usuarioMB.verificarSeloginEsteParaOutroUsuario()}" />

						</p:inputText>
					</h:panelGrid>
				


				<h:panelGrid columns="3" cellpadding="10"
					rendered="#{usuarioMB.paginaInserir}">
					<h:panelGrid columns="1" styleClass="campoForm">
						<p:outputLabel for="senha" value="#{msg['usuario.lable.senha']}" />
						<p:password id="senha" required="true"
							value="#{usuarioMB.usuario.senha}" />
					</h:panelGrid>

					<h:panelGrid columns="1" styleClass="campoForm">
						<p:outputLabel for="confirme_senha"
							value="#{msg['usuario.lable.confirma.a.senha']}" />
						<p:password id="confirme_senha" required="true"
							value="#{usuarioMB.confirmeSenha}" />
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid columns="2" cellpadding="10" columnClasses="col one">


					<h:panelGrid columns="1" styleClass="campoForm"
						rendered="#{usuarioMB.paginaInserir ne true}">
						<p:outputLabel for="link_alterar_senha"
							value="#{msg['usuario.lable.senha']}" />
						<p:commandLink id="link_alterar_senha"
							value="#{msg['usuario.link.alterar.senha.do.usuario']}"
							style="color:blue;" oncomplete="PF('alterarSenhaDialog').show()"
							process="@this" />
					</h:panelGrid>

				</h:panelGrid>



			</p:fieldset>

			<h:panelGrid columns="3" styleClass="btns">

				<p:commandButton value="#{msg['bt.salvar']}" styleClass="btn_salvar"
					action="#{usuarioMB.salvar()}" update="@form" process="@form" />
				<p:commandButton value="#{msg['bt.voltar']}" id="bt_voltar"
					styleClass="btn_voltar" action="#{usuarioMB.listar()}"
					update="@form" process="@this" />

				<p:commandButton value="#{msg['bt.sair']}" id="bt_sair"
					styleClass="btn_sair" action="#{homeMB.index()}" update="@form"
					process="@this" />


			</h:panelGrid>



		</h:form>

		<h:form id="form_alteracao_senha">

			<p:dialog header="#{msg['usuario.lable.configuracao.alterar.senha']}"
				widgetVar="alterarSenhaDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false">

				<p:messages autoUpdate="true" globalOnly="false" />
				<p:panelGrid columns="2" id="form_alterar_senha">

					<h:panelGrid columns="2" cellpadding="10">
						<h:panelGrid columns="1" styleClass="campoForm">
							<p:outputLabel for="senha_do_usuario"
								value="#{msg['usuario.lable.senha']}" />
							<p:password id="senha_do_usuario" required="true"
								value="#{usuarioMB.usuario.senha}" />
						</h:panelGrid>

						<h:panelGrid columns="1" styleClass="campoForm">
							<p:outputLabel for="confirme_senha_do_usuario"
								value="#{msg['usuario.lable.confirma.a.senha']}" />
							<p:password id="confirme_senha_do_usuario" required="true"
								value="#{usuarioMB.confirmeSenha}" />
						</h:panelGrid>
					</h:panelGrid>
				</p:panelGrid>

				<h:panelGrid columns="2" styleClass="btns">
					<p:commandButton value="#{msg['bt.confirmar']}"
						actionListener="#{usuarioMB.alterarSenhaDoUsuario()}"
						update="form_alterar_senha" process="@this form_alterar_senha">

					</p:commandButton>

					<p:commandButton value="#{msg['bt.cancelar']}" process="@this"
						oncomplete="PF('alterarSenhaDialog').hide()">

					</p:commandButton>

				</h:panelGrid>
			</p:dialog>

		</h:form>



	</ui:define>

</ui:composition>

</html>