<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">#{msg['usuario.listar']}</ui:define>
	<ui:define name="tituloDaPagina">#{msg['usuario.listar']}</ui:define>
	<ui:define name="conteudo">
		<h:form>

			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<p:outputLabel value="#{msg['usuario.lable.pesquisar']}"></p:outputLabel>
			<h:panelGrid columns="3">

				<h:panelGrid columns="1" styleClass="campoForm">
					<h:outputText value="Nome" />
					<p:inputText size="50" maxlength="200" id="nome" 
						value="#{usuarioMB.usuarioFiltro.nome}"></p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1" styleClass="campoForm">
					<h:outputText value="CPF" />
					<p:inputMask mask="999.999.999-99" id="cpf" style="width: 120px"
						 value="#{usuarioMB.usuarioFiltro.cpf}">
					</p:inputMask>
				</h:panelGrid>

				<h:panelGrid columns="1" styleClass="campoForm">
					<h:outputText value="Login" />
					<p:inputText id="login"  maxlength="15"
						 value="#{usuarioMB.usuarioFiltro.login}">
					</p:inputText>
				</h:panelGrid>

			</h:panelGrid>

			<h:panelGrid columns="2"
				style="text-align: right; margin-bottom: 18px; margin-top: 18px;">
				<p:commandButton action="#{usuarioMB.pesquisar()}"
					styleClass="btn_pesquisar" process="@form" update="@form"
					value="#{msg['bt.pesquisar']}"></p:commandButton>
				<p:commandButton action="#{usuarioMB.limparPesquisa()}"
					styleClass="btn_limpar" process="@form" update="@form"
					value="#{msg['bt.limpar']}"></p:commandButton>
			</h:panelGrid>



			<div
				style="text-align: right; margin-bottom: 18px; margin-top: 18px;">
				<p:commandButton icon="ui-icon-document" title="#{msg['bt.novo']}"
					update="@form" id="bt_novo" styleClass="btn_novo"
					action="#{usuarioMB.cadastrar()}" process="@this"
					value="#{msg['bt.novo']}">
				</p:commandButton>
			</div>

			<p:dataTable var="usuario" value="#{usuarioMB.usuarios}"
				paginatorTemplate="{Exporters}   {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{msg['lable.total.de']} #{usuarioManagedBean.usuarios.size()} usuários  "
				paginator="true" rows="10" id="tbl" paginatorPosition="top"
				rowsPerPageTemplate="10,15,30"
				emptyMessage="#{msg['nenhum_resultado']}">
				<f:facet name="{Exporters}">
					<h:commandLink>
						<p:graphicImage name="img/icons/icone_excel.png" width="35" />
						<p:dataExporter type="xls" target="tbl" fileName="USUARIO"
							encoding="UTF-8" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="img/icons/icone_pdf.png" width="35" />
						<p:dataExporter type="pdf" target="tbl" fileName="USUARIO"
							encoding="ISO-8859-1" />
					</h:commandLink>

				</f:facet>


				<p:column headerText="#{msg['usuario.lable.nome']}"
					sortBy="#{usuario.nome}">
					<p:commandLink title="#{msg['bt.visualizar']}" update="@form"
						style="color:blue;" process="@this"
						action="#{usuarioMB.visualizar()}">
						<h:outputText value="#{usuario.nome}" />
						<f:setPropertyActionListener value="#{usuario}"
							target="#{usuarioMB.usuario}" />
					</p:commandLink>

				</p:column>

				<p:column headerText="#{msg['usuario.lable.cpf']}"
					sortBy="#{usuario.cpf}">
					<h:outputText value="#{usuario.cpf}" />
				</p:column>

				<p:column headerText="#{msg['usuario.lable.login']}"
					sortBy="#{usuario.login}">
					<h:outputText value="#{usuario.login}" />
				</p:column>

				<p:column headerText="#{msg['acao']}" style="width: 150px;"
					exportable="false">

					<p:commandLink title="#{msg['bt.editar']}" update="@form"
						style="margin-right: 5px;" process="@this"
						action="#{usuarioMB.alterar()}">
						<p:graphicImage name="img/icons/editar2-cinza.png" width="25" />
						<f:setPropertyActionListener value="#{usuario}"
							target="#{usuarioMB.usuario}" />
					</p:commandLink>

					<p:commandLink title="#{msg['bt.inativa']}" update="@form"
						oncomplete="PF('excluirDialog').show()" process="@this">
						<p:graphicImage name="img/icons/deletar.png" width="25" />
						<f:setPropertyActionListener value="#{usuario}"
							target="#{usuarioMB.usuario}" />
					</p:commandLink>

				</p:column>


			</p:dataTable>

			<h:panelGrid columns="1" styleClass="btns">

				<p:commandButton value="#{msg['bt.sair']}" id="bt_sair"
					styleClass="btn_sair" action="#{homeMB.index()}" update="@form"
					process="@this" />

			</h:panelGrid>

			<p:dialog
				header="Deseja Realmente Inativar o Usário: #{usuarioManagedBean.usuario.nomeCompleto}"
				widgetVar="excluirDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false">

				<h:panelGrid columns="2">
					<p:commandButton value="Sim" styleClass="btn_sim"
						action="#{usuarioMB.inativar()}"
						oncomplete="PF('excluirDialog').hide()" update="@form"
						process="@this">

					</p:commandButton>

					<p:commandButton value="Não"
						oncomplete="PF('excluirDialog').hide()" styleClass="btn_nao">

					</p:commandButton>

				</h:panelGrid>
			</p:dialog>
		</h:form>

	</ui:define>

</ui:composition>

</html>