<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">#{msg['usuario.formulario']}</ui:define>
	<ui:define name="tituloDaPagina">
		<h:panelGroup id="tituloForm">
			<h:outputText value="#{msg['usuario.visualizar']}" />
		</h:panelGroup>
	</ui:define>
	<ui:define name="conteudo">

		<h:form>


			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<div
				style="text-align: right; margin-bottom: 18px; margin-top: 18px;">
				<h:commandLink title="#{msg['bt.imprimir']}">
					<p:graphicImage name="/img/icons/icon-print.png" height="60" />
					<p:printer target="grupo_imprimir" />
				</h:commandLink>
			</div>
			<h:panelGroup id="grupo_imprimir">
				<p:fieldset>
					<h:panelGrid columns="1" cellpadding="10">
						<h:panelGrid columns="1" styleClass="campoForm">
							<p:outputLabel for="nome" value="#{msg['usuario.lable.nome']}" />
							<h:outputText id="nome" size="50" required="true"
								value="#{usuarioMB.usuario.nome}"></h:outputText>
						</h:panelGrid>
						<h:panelGrid columns="1" styleClass="campoForm">
							<p:outputLabel for="email" value="#{msg['usuario.lable.cpf']}" />
							<h:outputText id="email" size="25" required="true"
								value="#{usuarioMB.usuario.cpf}">
							</h:outputText>
						</h:panelGrid>
						<h:panelGrid columns="1"
							>
							<p:outputLabel for="siape" value="#{msg['usuario.lable.login']}" />
							<h:outputText id="siape" required="true" maxlength="7"
								value="#{usuarioMB.usuario.login}">
							</h:outputText>
						</h:panelGrid>
					</h:panelGrid>

					




					
					

				</p:fieldset>
			</h:panelGroup>
			<h:panelGrid columns="2" styleClass="btns">

				<p:commandButton value="#{msg['bt.voltar']}" id="bt_voltar"
					styleClass="btn_voltar" action="#{usuarioMB.listar()}"
					update="@form" process="@this" />

				<p:commandButton value="#{msg['bt.sair']}" id="bt_sair"
					styleClass="btn_sair" action="#{homeManagedBean.index()}"
					update="@form" process="@this" />

			</h:panelGrid>



		</h:form>





	</ui:define>

</ui:composition>

</html>